<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueShipAmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{200,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipAmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipAmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipAmount3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipAmount4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipAmount5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipAmount6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>blueShipBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>greenShipAmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,2},{200,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipAmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipAmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,204},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipAmount3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,204},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipAmount4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipAmount5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipAmount6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>greenShipBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>purpleShipAmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipAmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipAmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,406},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipAmount3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,406},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipAmount4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,406},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipAmount5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,406},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipAmount6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,406},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>purpleShipBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>redShipAmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipAmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,608},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipAmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,608},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipAmount3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,608},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipAmount4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,608},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipAmount5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,608},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipAmount6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,608},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>redShipBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>yellowShipAmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipAmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,810},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipAmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,810},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipAmount3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,810},{250,200}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipAmount4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,810},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipAmount5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,810},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipAmount6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,810},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>yellowShipBlast.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shipsPlist.png</string>
            <key>size</key>
            <string>{1966,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56adf363838cb5b65a47b181cf9e4177:837eea91b912837107a6ad7c44020e75:0fb2119427a33f231315d986260aa452$</string>
            <key>textureFileName</key>
            <string>shipsPlist.png</string>
        </dict>
    </dict>
</plist>
